/* Theme for bootstrap */
/* !important is used to override default styles */

:root {
    --bs-primary: #c40c0c;
    /* Red colour theme */
    --bs-primary-rgb: 196, 12, 12;
    --bs-link-color: #c40c0c;
    --bs-link-hover-color: #a00a0a;
}

.navbar.navbar-expand-lg.navbar-dark.bg-primary {
    border-bottom: 4px solid #222;
}

body {
    background-color: #fff;
    color: #222;
    font-family: 'Bebas Neue', sans-serif;
    line-height: 1.6;
}

.navbar-nav.ms-auto {
    position: relative;
    display: flex;
}

.nav-item {
    background-color: #c40c0c;
    color: #fff;
    transition: background-color 0.3s ease;
    border-radius: 15px;
}

.nav-item:hover {
    background-color: #a00a0a;
    border-radius: 15px;
}

.nav-link.active {
    background-color: #222;
    border-radius: 15px;
}

.navbar,
footer {
    background-color: var(--bs-primary) !important;
}

.navbar .navbar-brand,
.navbar-nav .nav-link,
footer,
footer p {
    color: #fff !important;
    font: 400 16px 'Lato', sans-serif;
}

/* Navbar customization */
.navbar-brand {
    font-weight: bold;
}

/* Footer customization */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 4px solid #c40c0c;
}

footer h5 {
    font-weight: bold;
    color: #fff;
}

.vjc-icon {
    background-image: url('../images/vjcicon.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 8px;
}

.container.mt-5 {
    text-align: center;
}

/* === Gallery Styles === */
.gallery img {
    transition: transform 0.3s ease, filter 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}

header {
    background: #c40c0c;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
}

.blackHex {
    padding: 21px;
    background-color: #222;
    color: #fff;
    border-radius: 8px;
    margin-top: 20px;
}

.whiteHex {
    padding: 21px;
    background-color: #fff;
    color: #222;
    border-radius: 8px;
    margin-top: 20px;
    height: 222px;
    transition: background-color 0.3s ease;
}

.navbar {
    font-family: 'Lato', sans-serif;
}

.whiteHex:hover {
    background-color: #dadada;
}

/* Team cards */
.card {
    background: #fafafa;
    color: #222;
    border: none;
    transition: background 0.4s, color 0.4s;
}

.card:hover {
    background: #c40c0c;
    color: #fff;
}

.card:hover .card-title,
.card:hover p,
.card:hover a,
.card:hover .display-6 {
    color: #fff;
    transition: color 0.4s;
}

.vid {
    display: inline-block;
    box-shadow: 0 0 30px 15px #222;
    border-radius: 10px;
}


iframe {
    border-radius: 10px;
    display: block;
}