/* Theme for boostrap */
/* !important is used to override default styles */

:root {
    --bs-primary: #c40c0c;
    /* Red colour theme */
    --bs-primary-rgb: 196, 12, 12;
    --bs-link-color: #c40c0c;
    --bs-link-hover-color: #a00a0a;
}

body {
    background-color: #fff;
    color: #222;
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
}
.navbar-nav.ms-auto {
  position: relative;
  display: flex;
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
}

.nav-item {
    background-color: #c40c0c;
  color: #fff;
  transition: background-color 0.3s ease;
}
.nav-item:hover {
    background-color: #a00a0a;
}

.nav-link.active {
    background-color: #222;
    border-radius: 20px;
}

.navbar,
footer {
    background-color: var(--bs-primary) !important;
}

.navbar .navbar-brand,
.navbar-nav .nav-link,
footer,
footer p {
    color: #fff !important;
}


/* Navbar customization */
.navbar-brand {
    font-weight: bold;   
}

/* Footer customization */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.vjc-icon {
    background-image: url('../images/vjcicon.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 8px;
}

.container.mt-5 {
    text-align: center;
}